.whatMakes__h1 h1{
    text-align: center;
    margin-top: 70px;
    color: #2A254B;
    font-size: 24px;
}
.next__day{
    background: rgb(248, 248, 248);
    width: 250px;
    height: 150px;
    text-align: left;
    padding: 48px;
    margin-left: 45px;
}
.made__by{
    background: rgb(248, 248, 248);
    width: 250px;
    height: 150px;
    margin-left: 20px;
    text-align: left;
    padding: 48px;
}
.unbeatble__prices{
    background: rgb(248, 248, 248);
    width: 250px;
    height: 150px;
    margin-left: 20px;
    text-align: left;
    padding: 48px;
}
.recycled__packaging{
    background: rgb(248, 248, 248);
    width: 250px;
    height: 150px;
    padding: 48px;
    text-align: left;
    margin-left: 20px;
}
.whatMakes__tabs{
    display: flex;
}